extends layout

block content
	if message != ""
		div.alert.alert-danger
			button.close(type="button", data-dismiss="alert", aria-label="Close") <span aria-hidden="true">&times;</span>
			p #{message}
	if success != ""
		div.alert.alert-success
			button.close(type="button", data-dismiss="alert", aria-label="Close") <span aria-hidden="true">&times;</span>
			p #{success}
	h1.text-center Recent Pins
	div.container-fluid
		div.grid
			each val in pins
				div.pin.grid-item
					img.img-thumbnail(src='#{val.url}', onerror="imgError(this);")
					div.text-center.caption
						p #{val.title}
						a(href='/user/#{val.username}') #{val.username}